<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2002_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{121,44}}</string>
                <key>offset</key>
                <string>{-1,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,189},{121,44}}</string>
                <key>sourceSize</key>
                <string>{183,254}</string>
            </dict>
            <key>2002_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{121,134}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,108},{121,134}}</string>
                <key>sourceSize</key>
                <string>{183,254}</string>
            </dict>
            <key>2002_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{121,164}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,78},{121,164}}</string>
                <key>sourceSize</key>
                <string>{183,254}</string>
            </dict>
            <key>2002_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,242}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{121,242}}</string>
                <key>sourceSize</key>
                <string>{183,254}</string>
            </dict>
            <key>2002_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{121,242}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{121,242}}</string>
                <key>sourceSize</key>
                <string>{183,254}</string>
            </dict>
            <key>2002_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{121,242}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{121,242}}</string>
                <key>sourceSize</key>
                <string>{183,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2002_effect.png</string>
            <key>size</key>
            <string>{125,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ffe38f6fe14e7d97b94b67ec5deaa5:21928ef991aa20ec2f14cff00b10e5d1:4b66f581a0bff480285b321e1e60738c$</string>
            <key>textureFileName</key>
            <string>2002_effect.png</string>
        </dict>
    </dict>
</plist>
